# Diabetes analysis project

This notebook will be use to display and analyze information about the diabetes and all the variables related with.

## Path Dir

In [42]:
import os
import sys

sep = os.path.sep
dir_actual = os.path.abspath('')
PATH = sep.join(dir_actual.split(sep)[:-1])
DIR_DATA = PATH + '{0}diabetes_analysis_project{0}data{0}'.format(os.sep)
sys.path.append(PATH) if PATH not in list(sys.path) else None
DIR_DATA

'c:\\Users\\usuario\\Documents\\8vo semestre\\Programacion para ciencia de datos\\diabetes_analysis_project\\data\\'

## Importing libraries

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
filename = DIR_DATA + 'diabetes_binary_health_indicators_BRFSS2021.csv'

## Load dataset

In [44]:
df = pd.read_csv(filename, sep=',')
df

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,0,1.0,1,15.0,1.0,0.0,0.0,0,1,...,1,0.0,5.0,10.0,20.0,0.0,0,11,4.0,5.0
1,1.0,1,0.0,1,28.0,0.0,0.0,1.0,0,1,...,1,0.0,2.0,0.0,0.0,0.0,0,11,4.0,3.0
2,1.0,1,1.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,10.0,0.0,0.0,0,9,4.0,7.0
3,1.0,0,1.0,1,29.0,0.0,1.0,1.0,1,1,...,1,0.0,5.0,0.0,30.0,1.0,1,12,3.0,4.0
4,0.0,0,0.0,1,24.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,0.0,1.0,1,13,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236373,1.0,1,1.0,1,21.0,0.0,0.0,0.0,1,1,...,1,0.0,4.0,0.0,0.0,0.0,1,10,2.0,3.0
236374,0.0,1,0.0,1,25.0,1.0,0.0,0.0,1,1,...,0,1.0,2.0,20.0,0.0,0.0,0,3,4.0,5.0
236375,0.0,0,1.0,1,31.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,0.0,0.0,0.0,1,7,6.0,10.0
236376,0.0,1,0.0,1,24.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,0.0,0.0,0.0,1,10,4.0,6.0
236377,0.0,0,1.0,1,32.0,0.0,0.0,0.0,1,0,...,1,0.0,1.0,2.0,2.0,0.0,0,6,6.0,6.0

## Explore dataset structure

In [45]:
print("Dataset dimensions (rows, columns):", df.shape)
print("\nFirst rows of the dataset:")
print(df.head())

print("\nData types of each column:")
print(df.dtypes)

Dataset dimensions (rows, columns): (236378, 22)

First rows of the dataset:
   Diabetes_binary  HighBP  HighChol  CholCheck   BMI  Smoker  Stroke  \
0              0.0       0       1.0          1  15.0     1.0     0.0
1              1.0       1       0.0          1  28.0     0.0     0.0
2              1.0       1       1.0          1  33.0     0.0     0.0
3              1.0       0       1.0          1  29.0     0.0     1.0
4              0.0       0       0.0          1  24.0     1.0     0.0

   HeartDiseaseorAttack  PhysActivity  Fruits  ...  AnyHealthcare  \
0                   0.0             0       1  ...              1
1                   1.0             0       1  ...              1
2                   0.0             1       1  ...              1
3                   1.0             1       1  ...              1
4                   0.0             0       0  ...              1

   NoDocbcCost  GenHlth  MentHlth  PhysHlth  DiffWalk  Sex  Age  Education  \
0          0.0      5.0      10.0      20.0       0.0    0   11        4.0
1          0.0      2.0       0.0       0.0       0.0    0   11        4.0
2          0.0      2.0      10.0       0.0       0.0    0    9        4.0
3          0.0      5.0       0.0      30.0       1.0    1   12        3.0
4          0.0      3.0       0.0       0.0       1.0    1   13        5.0

   Income
0     5.0
1     3.0
2     7.0
3     4.0
4     6.0

[5 rows x 22 columns]

Data types of each column:
Diabetes_binary         float64
HighBP                    int64
HighChol                float64
CholCheck                 int64
BMI                     float64
Smoker                  float64
Stroke                  float64
HeartDiseaseorAttack    float64
PhysActivity              int64
Fruits                    int64
Veggies                   int64
HvyAlcoholConsump         int64
AnyHealthcare             int64
NoDocbcCost             float64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                float64
Sex                       int64
Age                       int64
Education               float64
Income                  float64
dtype: object

## Show original column names

In [46]:
print("\nOriginal column names:")
print(df.columns.tolist())

Original column names:
['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker', 'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education', 'Income']

## Check for missing values and duplicates

In [47]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

> As we can see there are no missing values in the dataset, which is an ideal situation because it shows there´s no missing information.

In [48]:
print("\nNumber of duplicated rows:", df.duplicated().sum())

Number of duplicated rows: 13135

## Standardize column names (optional but useful for analysis)

In [49]:
# Convert to lowercase, insert underscores before capital letters, and remove spaces
df.columns = (
    df.columns
    .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)  # add underscore before capital letters
    .str.replace(" ", "_")                             # replace spaces with underscores
    .str.lower()                                       # convert everything to lowercase
)

print("\nStandardized column names (snake_case):")
print(df.columns.tolist())

Standardized column names (snake_case):
['diabetes_binary', 'high_b_p', 'high_chol', 'chol_check', 'b_m_i', 'smoker', 'stroke', 'heart_diseaseor_attack', 'phys_activity', 'fruits', 'veggies', 'hvy_alcohol_consump', 'any_healthcare', 'no_docbc_cost', 'gen_hlth', 'ment_hlth', 'phys_hlth', 'diff_walk', 'sex', 'age', 'education', 'income']

In [50]:
df.head()

,diabetes_binary,high_b_p,high_chol,chol_check,b_m_i,smoker,stroke,heart_diseaseor_attack,phys_activity,fruits,...,any_healthcare,no_docbc_cost,gen_hlth,ment_hlth,phys_hlth,diff_walk,sex,age,education,income
0,0.0,0,1.0,1,15.0,1.0,0.0,0.0,0,1,...,1,0.0,5.0,10.0,20.0,0.0,0,11,4.0,5.0
1,1.0,1,0.0,1,28.0,0.0,0.0,1.0,0,1,...,1,0.0,2.0,0.0,0.0,0.0,0,11,4.0,3.0
2,1.0,1,1.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,10.0,0.0,0.0,0,9,4.0,7.0
3,1.0,0,1.0,1,29.0,0.0,1.0,1.0,1,1,...,1,0.0,5.0,0.0,30.0,1.0,1,12,3.0,4.0
4,0.0,0,0.0,1,24.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,0.0,1.0,1,13,5.0,6.0

> Now we can see the dataset headers in snake_case

## Droping the columns we don't want

In [51]:
columns_to_drop = ['no_docbc_cost', 'income', 'education']
df = df.drop(columns=columns_to_drop, errors='ignore')

print("\nColumns dropped:", columns_to_drop)
print("Remaining columns:")
print(df.columns.tolist())

Columns dropped: ['no_docbc_cost', 'income', 'education']
Remaining columns:
['diabetes_binary', 'high_b_p', 'high_chol', 'chol_check', 'b_m_i', 'smoker', 'stroke', 'heart_diseaseor_attack', 'phys_activity', 'fruits', 'veggies', 'hvy_alcohol_consump', 'any_healthcare', 'gen_hlth', 'ment_hlth', 'phys_hlth', 'diff_walk', 'sex', 'age']

In [52]:
df

,diabetes_binary,high_b_p,high_chol,chol_check,b_m_i,smoker,stroke,heart_diseaseor_attack,phys_activity,fruits,veggies,hvy_alcohol_consump,any_healthcare,gen_hlth,ment_hlth,phys_hlth,diff_walk,sex,age
0,0.0,0,1.0,1,15.0,1.0,0.0,0.0,0,1,1,0,1,5.0,10.0,20.0,0.0,0,11
1,1.0,1,0.0,1,28.0,0.0,0.0,1.0,0,1,0,0,1,2.0,0.0,0.0,0.0,0,11
2,1.0,1,1.0,1,33.0,0.0,0.0,0.0,1,1,1,0,1,2.0,10.0,0.0,0.0,0,9
3,1.0,0,1.0,1,29.0,0.0,1.0,1.0,1,1,1,0,1,5.0,0.0,30.0,1.0,1,12
4,0.0,0,0.0,1,24.0,1.0,0.0,0.0,0,0,0,0,1,3.0,0.0,0.0,1.0,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236373,1.0,1,1.0,1,21.0,0.0,0.0,0.0,1,1,1,0,1,4.0,0.0,0.0,0.0,1,10
236374,0.0,1,0.0,1,25.0,1.0,0.0,0.0,1,1,1,0,0,2.0,20.0,0.0,0.0,0,3
236375,0.0,0,1.0,1,31.0,0.0,0.0,0.0,1,1,1,0,1,2.0,0.0,0.0,0.0,1,7
236376,0.0,1,0.0,1,24.0,0.0,0.0,0.0,1,1,1,0,1,2.0,0.0,0.0,0.0,1,10
236377,0.0,0,1.0,1,32.0,0.0,0.0,0.0,1,0,0,0,1,1.0,2.0,2.0,0.0,0,6